# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/staticfiles/
media/

# Backend
backend/venv/
backend/env/
backend/.env

# Node / React
node_modules/
frontend/build/

# Frontend
frontend/.env

# VSCode / IDE
.vscode/
.idea/

# Sistema
.DS_Store
